<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="openetcs"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="openETCS Extended Tool Construction Set">
         <property
               name="appName"
               value="openETCS Extended Tool Construction Set">
         </property>
         <property
               name="startupForegroundColor"
               value="0000FF">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="openETCS-logo.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="windowImages"
               value="/org.openetcs.releng.products/logo/openETCS-logo16x16.png,/org.openetcs.releng.products/logo/openETCS-logo32x32.png,/org.openetcs.releng.products/logo/openETCS-logo48x48.png,/org.openetcs.releng.products/logo/openETCS-logo64x64.png,/org.openetcs.releng.products/logo/openETCS-logo128x128.png">
         </property>
      </product>
   </extension>

</plugin>
