*.el
*.bbl
*.lof
T7.3/MigrationScade2OpenAlternative/OpenETCS_MigrationScade2OpenAlternative.toc
T7.3/MigrationScade2OpenAlternative/OpenETCS_MigrationScade2OpenAlternative.aux
*.lot
T7.3/MigrationScade2OpenAlternative/OpenETCS_MigrationScade2OpenAlternative.blg
T7.3/MigrationScade2OpenAlternative/#OpenETCS_MigrationScade2OpenAlternative.tex#