<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tracing -->
      <package
            uri="http://eclipse.org/rmf/pror/presentation/tracing"
            class="org.openetcs.pror.tracing.TracingPackage"
            genModel="model/tracing.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated tracing -->
      <parser
            type="tracing"
            class="org.openetcs.pror.tracing.util.TracingResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated tracing -->
      <factory
            uri="http://eclipse.org/rmf/pror/presentation/tracing"
            class="org.openetcs.pror.tracing.provider.TracingItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.rmf.reqif10.pror.editor.presentation">
      <presentation
            service="org.openetcs.pror.tracing.TracingPresentationService">
      </presentation>
   </extension>

</plugin>
