/O7-2-1.aux
/O7-2-1.lof
/O7-2-1.log
/O7-2-1.lot
/O7-2-1.out
/O7-2-1.synctex.gz
/O7-2-1.toc
/O7-2-1_Transformation.aux
/O7-2-1_Transformation.lof
/O7-2-1_Transformation.log
/O7-2-1_Transformation.lot
/O7-2-1_Transformation.out
/O7-2-1_Transformation.synctex.gz
/O7-2-1_Transformation.toc
