<plugin><extension point="org.eclipse.help.toc">
		<toc primary="true" category="Doc" file="toc.xml" ></toc>
		<toc primary="false" category="Doc" file="bin/documentation/Overview-toc.xml"></toc>
		  		<toc primary="false" category="Doc" file="bin/documentation/Installation-toc.xml"></toc>
		  		<toc primary="false" category="Doc" file="bin/documentation/Getting-Started-toc.xml"></toc>
		  		<toc primary="false" category="Doc" file="bin/documentation/User-Documentation-toc.xml"></toc>
		  		<toc primary="false" category="Doc" file="bin/documentation/Developer-Documentation-toc.xml"></toc>
		  		<toc primary="false" category="Doc" file="bin/documentation/FAQ-toc.xml"></toc>
		  		<toc primary="false" category="Doc" file="bin/documentation/Further-Reading-toc.xml"></toc>
		  		</extension></plugin>
		