/O7-2-1.aux
/O7-2-1.lof
/O7-2-1.log
/O7-2-1.lot
/O7-2-1.out
/O7-2-1.synctex.gz
/O7-2-1.toc
/O7-2-1_Management.aux
/O7-2-1_Management.lof
/O7-2-1_Management.log
/O7-2-1_Management.lot
/O7-2-1_Management.out
/O7-2-1_Management.synctex.gz
/O7-2-1_Management.toc
*.bbl
*.blg

