<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="openETCS-Kepler" sequenceNumber="20">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.papyrus.sdk.sources.feature.feature.group" version="0.10.1.v201309181302"/>
<unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.10.1.v201309181302"/>
<unit id="org.eclipse.papyrus.extra.feature.feature.group" version="0.10.1.v201309181343"/>
<unit id="org.eclipse.papyrus.extra.sources.feature.feature.group" version="0.10.1.v201309181343"/>
<repository location="http://download.eclipse.org/modeling/mdt/papyrus/updates/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.3.2.M20140221-1700"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.4.3.v201309030823"/>
<unit id="org.eclipse.xtext.xtext.ui.feature.group" version="2.4.3.v201309030823"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.4.3.v201309030823"/>
<unit id="org.eclipse.egit.feature.group" version="3.2.0.201312181205-r"/>
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.1.0.v20140110-1610"/>
<unit id="org.eclipse.xtext.ui.feature.group" version="2.4.3.v201309030823"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.0.v20140117-1004"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.2.v20140203-1126"/>
<unit id="org.eclipse.platform.feature.group" version="4.3.2.v20140221-1852"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rmf.reqif10.pror.sdk.feature.feature.group" version="0.11.0.201408220301"/>
<unit id="org.eclipse.rmf.reqif10.sdk.feature.feature.group" version="0.11.0.201408220301"/>
<repository location="http://download.eclipse.org/rmf/updates/milestones"/>
</location>
</locations>
</target>
