<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="openETCS-Kepler" sequenceNumber="13">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="4.3.1.v20130911-1000"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.0.v20130807-1835"/>
<unit id="org.eclipse.platform.sdk" version="4.3.1.M20130911-1000"/>
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.1.0.v20130814-1242"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.0.v20130610-0406"/>
<unit id="org.eclipse.egit.feature.group" version="3.0.3.201309161630-r"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rmf.reqif10.sdk.feature.feature.group" version="0.10.0.201403140302"/>
<unit id="org.eclipse.rmf.reqif10.pror.sdk.feature.feature.group" version="0.10.0.201403140302"/>
<repository location="http://download.eclipse.org/rmf/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.papyrus.sdk.sources.feature.feature.group" version="0.10.1.v201309181302"/>
<unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.10.1.v201309181302"/>
<unit id="org.eclipse.papyrus.extra.feature.feature.group" version="0.10.1.v201309181343"/>
<unit id="org.eclipse.papyrus.extra.sources.feature.feature.group" version="0.10.1.v201309181343"/>
<repository location="http://download.eclipse.org/modeling/mdt/papyrus/updates/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.ui.feature.group" version="2.4.2.v201306120542"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.4.2.v201306120542"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.4.2.v201306120542"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
</locations>
</target>
