/O7-2-1_Management.aux
/O7-2-1_Management.bbl
/O7-2-1_Management.blg
/O7-2-1_Management.lof
/O7-2-1_Management.log
/O7-2-1_Management.lot
/O7-2-1_Management.out
/O7-2-1_Management.synctex.gz
/O7-2-1_Management.toc
/D7_2.aux
/D7_2.bbl
/D7_2.blg
/D7_2.lof
/D7_2.log
/D7_2.lot
/D7_2.out
/D7_2.synctex.gz
/D7_2.toc
